<%= notice %>
<h1>つぶやき一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
</table>
<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col-xs-12 col-md-6">
      <%= tweet.content %>
      <br>
      <%= link_to '詳細確認', tweet_path(tweet.id), class: "btn btn-default" %>
      <%= link_to "編集する", edit_tweet_path(tweet.id), class: "btn btn-info" %>
      <%= link_to '削除する', tweet_path(tweet.id), method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>

<%= link_to '新規投稿', new_tweet_path, class: "btn btn-default" %>
