<h1>ブログ詳細画面</h1>
<p>内容: <%= @tweet.content %></p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @tweet.image %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
<% unless @tweet.user_id == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(tweet_id: @tweet.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
